<li>
  Name: <%= user.name %>
  <span class="profile-link">
    <%= link_to 'See User Profile',  user_path(user), class: 'btn-custom' %>
    <% css_class = request_button(current_user,user) %>
    <%= link_to 'Send Friend Request',  send_request_path(:current_user => current_user, :pending_user => user), class: css_class %>
  </span>
</li>
