<h2> Your Notifications</h2>
 <ul>
<% @notifications.each do |pending_user|%>
 <li> Do you want to accept <%= pending_user.name %>'s friend request?
 <%= button_to 'Accept Friend Request',  add_friend_path(:pending_user => pending_user), class: 'btn-custom' %>
 <%= button_to 'Reject Friend Request',  reject_request_path(:pending_user => pending_user), class: 'btn-custom' %>
 </li>
<% end %>
</ul>
